@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');

body {
    font-family: 'Bacasime Antique', serif;
}

img {
    width: 100%;
}
html {
    scroll-behavior: smooth;
}

p {
    font-size: 0.95rem;
    margin: 1rem 0;
    font-weight: 500;
    line-height: 1.5rem;
}