.menuNavigation {
    position: fixed;
    z-index: 20;
    height: 100vh;
    top: 0;
    left: -35rem;
    width: 18rem;
    background-color: $white;
    box-shadow: 0 0 10px rgba($black, $alpha: 0.3);
    padding: 2rem;
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    @media screen and (min-width: $layout-breakpoint-xsmall) {
        width: 23rem;
    }

    &.open {
        left: 0;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .minim {
            font-size: 1.2rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        .menuX {
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $black;
            border-radius: 50%;
            cursor: pointer;

            svg {
                color: $white;
                font-size: 0.75rem;
                font-weight: 1rem;
            }
        }
    }

    .menuDates {
        padding: 2rem 0;
        user-select: none;

        .dataGroup {
            padding: 1rem 0;
        }

        .dataGroupName {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .rotate0 {
                transform: rotate(0deg);
                transition: all 0.3s ease;
            }

            .rotate180 {
                transform: rotate(180deg);
                transition: all 0.3s ease;
            }
        }

        .dataItems {
            flex-direction: column;
            display: flex;

            a {
                text-decoration: none;
                padding: 0.7rem;
                color: rgb(211, 37, 37);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .callUs {
            position: relative;
            width: 88%;
            height: 4%;
            margin-left: 6px;
            background-color: $black;
            color: $white;
            text-align: center;
            font-size: 19px;
            border-radius: 1rem;
            box-shadow: 2px;
            cursor: pointer;
            padding: 1rem;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
        }


    .openHours{
        text-align: center;
        margin-top: 2rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
}